# Tuples , Dictionary, Sets
# By Awais Manzoor
# Data Analyst

# 1. Tuples

In [2]:
# tuples canot change able
# its immutable
# tuples are faster than lists
# tuples are more memory efficient than lists

message = (9200,300)
print(message[0]) #9200
print(message[1]) #300

9200
300

# Creating a Tuple

In [3]:
# empty
t1 = ()
print(t1)

()

In [4]:
# create a tuple with a single item
t2 = ('hello',)
print(t2)

('hello',)

In [5]:
# looping through tuples
tup = (1, 2, 3, 4, 5)
for x in tup:
    print(tup)

dimensions = (200,50)
print("Original dimensions")
for dimension in dimensions:
    print(dimension)

dimensions = (400,70)
print("\nmodified dimension :")
for dimension in dimensions:
    print(dimension)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)
Original dimensions
200
50

modified dimension :
400
70

In [6]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [7]:
print(t5)
del t5[-1] # Not possible in tuple

NameError: name 't5' is not defined

In [8]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

(1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
# len/sum/min/max/sorted
t = (1,2,3,4)
len(t)

sum(t)

min(t)

max(t)

sorted(t,reverse=True)

[4, 3, 2, 1]

In [10]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [11]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [15]:
# get 4th elements of tuple
tup2 = (3,4,5,6,7)
print(tup2[4])

7

In [14]:
# 2. diffrent types of tuples 
tup1 = ( "Hello", 33, complex,)
print(type(tup1))

<class 'tuple'>

In [16]:
# exists elemnt in a list
my_tup3 = (1,2,3,4,5)
element = 3
if element in my_tup3:
    print(f"{element} exists in the tuple")
else:
    print(f"{element} does not exists tuple")

3 exists in the tuple

In [12]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [17]:
# convert a list into tuple.

my_list = [1,2,3,45,4]
my_tuple = tuple(my_list)
print(my_tuple)

(1, 2, 3, 45, 4)

In [13]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [18]:
# convert a list to atuple (alternative)
my_list = [1,2,3,45,4]
my_tuple= (*my_list,)
print(my_tuple)

(1, 2, 3, 45, 4)

In [19]:
# reverse a tuple
my_tuple = (1,2,3,4,5,56)
reverse_tuple = tuple(reversed(my_tuple))
print(reverse_tuple)

(56, 5, 4, 3, 2, 1)

In [20]:
# copy elements of 44 and 55
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = (tuple1[3], tuple1[4])
print(tuple2)

(44, 55)

# 2.Dictionary

In [ ]:
#Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In [21]:
# empty dictionary
d = {}
d
# 1D dictionary
d1 = { 'name' : 'nitish' ,'gender' : 'male' }
d1
# w

{'name': 'nitish', 'gender': 'male'}

In [22]:
# 2D dictionary -> JSON
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
s

{'name': 'nitish',
 'college': 'bit',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [23]:
#Accessing items
my_dict = {'name': 'Jack', 'age': 26}
# []
my_dict['age']
# get
my_dict.get('age')

s['subjects']['maths']

67

In [ ]:
# Removing through
"""# pop
#d.pop(3)
#print(d)
# popitem
#d.popitem()
# d.popitem()
# print(d)
# del
#del d['name']
#print(d)
# clear"""

In [36]:



# Create a list of 30 aliens
aliens = []
for alien_number in range(30):
    new_alien = {'color': 'green', 'points': 5, 'speed': 'slow'}
    aliens.append(new_alien)

# Modify the first 3 aliens
for alien in aliens[:3]:
    if alien['color'] == 'green':
        alien['color'] = 'yellow'
        alien['speed'] = 'medium'
        alien['points'] = 10

# Print the first 5 aliens

for alien in aliens[:5]:
    print(alien)

    print("...")

{'color': 'yellow', 'points': 10, 'speed': 'medium'}
...
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
...
{'color': 'yellow', 'points': 10, 'speed': 'medium'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...
{'color': 'green', 'points': 5, 'speed': 'slow'}
...

In [37]:
# Define the pizza order
pizza = {
    'crust': 'thick',
    'toppings': ['mushrooms', 'extra cheese']
}

# Summarize the order
print(f"You ordered a {pizza['crust']}-crust pizza ")
print("with the following toppings:")

# List each topping
for topping in pizza['toppings']:
    print(f"- {topping}")

You ordered a thick-crust pizza
with the following toppings:
- mushrooms
- extra cheese

In [26]:
d = {'name': 'nadi', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
d.clear()
print(d)

{}

In [38]:
fav_languages = {
    'jen' : ['python', 'rust'],
    'sarah' : ['c', 'java'],
    'edward' : ['ruby', 'go'],
    'john' : ['python', 'swift'],
}

# use for loops
for name, languages in fav_languages.items():
    print(f"\n{name.title()}'s favorite languages are:")
    for language in languages:
        print(f"\t{language.title()}")

Jen's favorite languages are:
	Python
	Rust

Sarah's favorite languages are:
	C
	Java

Edward's favorite languages are:
	Ruby
	Go

John's favorite languages are:
	Python
	Swift

In [39]:
alien_0 = {'color':'green', 'points': 5}
print(alien_0['color'])

alien_0['x position'] = 0
alien_0['y position'] = 25
print(alien_0)

green
{'color': 'green', 'points': 5, 'x position': 0, 'y position': 25}

In [40]:
# Removing
alien_0 = {'color': 'green', 'points': 5}
print(alien_0)
del alien_0['points']
print(alien_0)

{'color': 'green', 'points': 5}
{'color': 'green'}

In [27]:
print(s)

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

True

In [41]:
#for loop:
user_0 = {
 'username': 'efermi',
 'first': 'enrico',
 'last': 'fermi',
 }
for key, value in user_0.items():
 print(f"\nKey: {key}")
 print(f"Value: {value}")

Key: username
Value: efermi

Key: first
Value: enrico

Key: last
Value: fermi

In [42]:
fav_languages = {
    'awais' : 'python',
    'ali' : 'java',
    'ahsan' : 'c++',
    'khan' : 'c#',
}

for name, language in fav_languages.items():
    print(f"{name.title()} likes {language.title()}")  # title() function is used

Awais likes Python
Ali likes Java
Ahsan likes C++
Khan likes C#

In [43]:
favorite_languages = {
    "jan" : "python",
    "sarah" : "c",
    "edward" : "rust",
    "phil" : "python",
}

In [44]:
friends = ["phil","sarah"]
for name in favorite_languages.keys():
    print(f"Hi {name.title()}.")
    if name in friends:
        language = favorite_languages[name].title()
        print(f"\t{name.title()}, I see you love {language}")

Hi Jan.
Hi Sarah.
	Sarah, I see you love C
Hi Edward.
Hi Phil.
	Phil, I see you love Python

In [29]:
# items/keys/values
print(d)

print(d.items())
print(d.keys())
print(d.values())

{}
dict_items([])
dict_keys([])
dict_values([])

In [30]:
# update
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [31]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [32]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [34]:
# using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [35]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

# Prepration

In [45]:
# 01Add a key to a dictionary

# Sample Dictionary
dictionary = {0: 10, 1: 20}

# Add a new key-value pair. Alternatively,
dictionary.update({2: 30})

# dictionary[2] = 30

print(dictionary)

{0: 10, 1: 20, 2: 30}

In [46]:
# 02 Concatenate dictionaries*

dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic4 = {}
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [47]:
# 03 Check if a key exists in the dictionary*


dictionary = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
key_to_check = 1
value = dictionary.get(key_to_check)
if value is not None:
    print(f"key exists{key_to_check} with value {value}")
else:
    print(f"key does not exist{key_to_check}")


#if key_to_check in dictionary:
#    print(f"The key {key_to_check} exists with value {dictionary[key_to_check]}")
#else:
#    print(f"The key {key_to_check} does not exist")

key_to_check = 4
value = dictionary.get(key_to_check)
if value is not None:
    print(f"the key{key_to_check} exists with value{value}")
else:
    print(f"The key {key_to_check} does not exist")  # Output: The key
#Alternatively
key_to_check = 30
value = dictionary.get(key_to_check)
if value is not None:
    print(f"The key {key_to_check} exists with value {value}")
else:
    print(f"The key {key_to_check} does not exist")

key exists1 with value 10
the key4 exists with value40
The key 30 does not exist

In [48]:
# 04 Iterate over using for loops


d = {'x': 10, 'y': 20, 'z': 30}

# Iterate over keys
for key in d.keys():
    print(key)

# Iterate over values
for value in d.values():
    print(value)

# Iterate over key-value pairs
for key, value in d.items():
    print(f"{key}:{value} ")

x
y
z
10
20
30
x:10
y:20
z:30

In [49]:
# 05 dictionary with squares of numbers


square_dict = {x: x**2 for x in range(1, 16)}
print(square_dict)


#Alternatively, using a for loop:
#square_dict = {}
#for x in range(1, 16):
#    square_dict[x] = x**2
#print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [50]:
# 06  Write a Python program to remove a key from a dictionary.
my_dict = {"name" : "Zohaib", "points" : 5}
del my_dict["name"]
print(my_dict)  # Output: {'points': 5}

{'points': 5}

In [51]:
# 9.	Write a Python program to remove duplicates from the dictionary.
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

result = {}

for key,value in student_data.items():
    if value not in result.values():
        result[key] = value

print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

# Sets

In [52]:
# A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed)
# empty
s = set()
print(s)
print(type(s))
# 1D and 2D
s1 = {1,2,3}
print(s1)

set()
<class 'set'>
{1, 2, 3}

In [53]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

In [54]:
S = {1,2,3,4}
# add
# S.add(5)
# print(S)
# update
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5, 6, 7}

In [55]:
# print(s)
# del s[0]
# print(s)
# discard
# s.discard(50)
# print(s)
# remove
# s.remove(50)
# print(s)
# pop
# s.pop()
# clear

In [56]:
# Iteration
for i in s1:
  print(i)

1
2
3

In [57]:
# Membership Test
1 not in s1

False

In [58]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
len(s)
sum(s)
min(s)
max(s)
sorted(s,reverse=True)

[7, 5, 4, 3, 2, 1]

In [59]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
s1.union(s1)

{1, 2, 3, 4, 5}

In [60]:
s1.update(s2)
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [61]:
# differences
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)
print(s2)

{4, 5, 6, 7, 8}

In [62]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})